div {
    background-color: #F7F7FA;
}

table {
    position: relative;
    border-spacing: 20px;
    top: 30px;
    margin: auto;
}

th {
    border: 1px solid #ccc;
    padding: 10px 40px;
    border-radius: 30px;
}